.container{
    position: fixed; 
    top: 0; 
    left: 0; 
      
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 200%;
    text-align: center;
    justify-content: center;
}

.img{
   margin-top: 50;
}

.editbutton {
    background-color: rgb(129, 132, 129);
    border-radius: 20px;
    height: 10%;
    padding: 1%;
    color: white;
    max-width: 200px;
    justify-content: center;
    display: inline;
}