@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

.App {
  text-align: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

ul{
  list-style:none;
  padding: 0;
  flex-direction: row;
}

ul li {
  display: inline-block;
  margin-right: 3%;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: black;
  
}

.nav {
  background-color: #fff;
  top: 0;
  color: #fff;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 100%;
  position: sticky;
  font-size: 50%;
}

.mainTitle {
  top: 0;
  font-family: 'Roboto';
  padding-top: 10%;
  font-size: 300%;
  font-weight: 700;
}

.sideText {
  font-size: 60%;
}

.search-bar {
  /* Basic styling */
  margin: 0 auto;
  margin-bottom: 5%;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 1%;
  margin-top: 20%;

  /* Text input styles */
  width: 300px;
  font-size: 16px;
  color: #333;

  /* Placeholder text */
  ::placeholder {
    color: #999;
  }

  /* Hover effect */
  transition: border-color 0.3s;
}

.search-bar:hover {
  border-color: #666;       /* Border color on hover */
}
nav a {
  color: #fff;
  margin-right: 10px;
  text-decoration: none;
}

a{
  color: black;
  text-decoration: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
